.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 15px;
    gap: 30px;
}

.navbar .logo {
    margin-right: auto;
    display: none;
}

.navbar .search-bar, .navbar .user {
    display: flex;
    align-items: center;
}

.navbar .search-bar {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 0 10px;
}

.navbar .user {
    gap: 20px;
}

.navbar .menu-btn {
    display: none;
}

@media only screen and (max-width: 1180px){
    .navbar {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 90;
        background: var(--ui-base);
    }

    .navbar .logo, .navbar .menu-btn {
        display: flex;
    }
}


@media only screen and (max-width: 600px){
    .navbar .search-bar {
        display: none;
    }
}